* {
  box-sizing: border-box;
  font-family: Georgia;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
}

#wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.gameover {
  top: 0;
  left: 0;
  transition: 2s;
  background-image: url('https://media.giphy.com/media/Zg7clvqHE3CdW/giphy.gif');
  background-size: cover;
}

#board {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.slot {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  position: relative;
  left: -30%;
  top: -30%;
  border: 40px solid;
}

.p0 {
  background-color: red;
}

.p1 {
  background-color: blue;
}

.highlight {
  background-color: yellow;
}

#messageBoard {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  visibility: hidden;
  text-align: center;
}

#message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  width: 100vw;
  font-size: 7vh;
  font-weight: bold;
  padding: 5vh;
  cursor: pointer;
}