html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    background-color: #FFA600;
    flex: none;
}

main {
    /* overflow-y: scroll; */
    /* -webkit-overflow-scrolling: touch; */
    flex: auto;
    background-color: #929292;
}

footer {
    flex: none;
    height: 30px;
    background-color: #FFBFCB;
}