<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="new_image.css">
    <title>Upload image</title>
</head>

<body>
    <div id="page">

        <main>
            <div id="upload_image">
                <header>
                    <img src="icons/back.png" alt="back" />
                    <h3>New Image</h3>
                </header>
                <div class="labels file">
                    <input id="file" type="file" accept="image/*" v-on:change="fileSelected">
                    <label id="file-label" for="file">
                        <span>Select an image</span>
                    </label>
                </div>
                <input id="username" v-model="username" type="text" name="username" placeholder="Username..">
                <input id=" title" v-model="title" type="text" name="title" placeholder="Title..">
                <input id="desc" v-model="desc" type="text" name="description" placeholder="Write a caption..">
                <div class="labels">
                    <label for="tags"><span>Separate tags with commas ("First Tag, Another Tag, ...)"</span></label>
                </div>
                <input id="tags" v-model="tags" type="text" name="tags" placeholder="Tag image">
                <button @click=" upload" type="submit" name="upload-btn">Upload</button>
                <footer>
                    <img src="icons/add_image.svg" alt="add image" />
                </footer>
            </div>

        </main>

    </div>
</body>

</html>