<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Connect4</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <a class="logo" href="/"><span>Connect4 Express</span></a>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>&copy; Kim Skovhus Andersen</p>
        </footer>
        <script src="/js/script.js" charset="utf-8"></script>
    </body>
</html>
