* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Lora', serif; */
    font-family: "Oswald", sans-serif;
}

/* smartphones, iPhone, portrait 480x320 phones */
#page {
    position: relative;
}

/* POSITIONING */
#image_board {
    position: absolute;
    top: 6vh;
    right: 0;
    left: 0;
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 9vh;
    /* border: 1px solid red; */
}

#image_board .image-grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 33vw);
}

#image_board .image {
    margin: 1vw;
    font-size: 14px;
    min-height: 350px;
}

#image_board .image>div,
button {
    padding: 1%;
    width: 98%;
}

#image_board header {
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image_board footer {
    bottom: 0;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2),
        0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image_board header,
#image_board footer {
    display: flex;
    position: fixed;
    background: #fff;
    width: 100vw !important;
    margin: 0 0 1px 0;
    height: 6vh !important;
    border-bottom: 1px solid #aaa;
}

#image_board .sub-nav {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

#image_board .sub-nav span {
    display: block;
}

#image_board .image img {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
    object-fit: cover;
}

#image_board .image .image-icons {
    display: flex;
    justify-content: space-between;
}

#image_board .image .image-icons img {
    height: 3vh;
    min-height: 3vh;
    width: 3vh;
    min-width: 3vh;
}

#image_board .image .image_info,
#image_board .image .tags {
    width: 95%;
    padding-top: 0 !important;
}

#image_board .image .tags {
    color: navy;
}

#image_board .image .image_info span {
    font-weight: 700;
}

#image_board header h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
}

#image_board span {
    margin-top: 5px;
    font-size: 16px;
}

#image_board span button {
    width: 7vh;
    height: 4vh;
    background: #fff;
}

#image_board button {
    width: 75vw;
    margin-top: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
}

#image_board button:active {
    background: #aaa;
}

#image_board footer {
    justify-content: center;
    align-items: center;
}

#image_board footer img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 95%;
    padding: 7px;
    cursor: pointer;
}

#image_board button:active {
    background: #aaa;
}

#image_board button {
    cursor: pointer;
    margin-top: 5px;
    border: 2px solid #ccc;
}

#image_board header img:active, #image_board footer img:active {
    border: 1px solid #666;
    border-radius: 4px;
}

@media (min-width: 481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    #image_board .image img {
        min-height: 175px;
        max-height: 175px;
    }
}

@media (min-width: 641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #image_board h3 {
        font-size: 25px;
    }

    #image_board .image img {
        min-height: 250px;
        max-height: 250px;
    }

    #image_board button {
        width: 55vw;
    }
}

@media (min-width: 961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #image_board h3 {
        font-size: 25px;
    }

    #image_board .image-grid {
        width: 75vw;
        display: grid;
        grid-template-columns: repeat(3, 25vw);
    }

    #image_board .image img {
        min-height: 250px;
        max-height: 250px;
    }

    #image_board button {
        width: 40vw;
    }
}

@media (min-width: 1025px) {

    /* big landscape tablets, laptops, and desktops */
    #image_board .image-grid {
        width: 75vw;
        display: grid;
        grid-template-columns: repeat(3, 25vw);
    }

    #image_board .image img {
        min-height: 333px;
        max-height: 333px;
    }

    #image_board button {
        width: 45vw;
    }
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}