* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: 400px;
    width: 600px;
    object-fit: cover;
}

#container {
    margin: 100px;
    position: relative;
    height: 400px;
    width: 600px;
    border: 5px solid silver;
    overflow: hidden;
}

#buttom-image {
    position: absolute;
}

#top-image {
    width: 300px;
    position: absolute;
    overflow: hidden;
}

#slider {
    position: absolute;
    height: 400px;
    width: 10px;
    background-color: silver;
    left: 300px;
}