* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#kitties {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.kitty {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(100%);
}

.kitty.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition: 1s;
}

.kitty.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition: 1s;
}

.kitty img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}