
<div class="inner-hero">
    <!-- INSIDE INNER HERO -->
    <img src="/images/portfolio-15.jpg" alt="Portfolio">
    <h1 id="hero-title">Welcome to my Portfolio</h1>
</div>
<div class="inner-main">
    {{>projlist}}
</div>
<!-- {{>projlist}} -->
