<ul id="nav-list">
{{#each projects}}
    <li class="item">
        <img src="/{{directory}}/screenshot.png" alt="">
        <a href="/projects/{{directory}}" tag="{{directory}}">{{title}}</a>
    </li>
{{/each}}
</ul>
