<ul id="nav-list">
{{#each projects}}
    <li class="item">
        <img src="/{{directory}}/screenshot.png" alt="">
        <a href="/projects/{{directory}}" tag="{{directory}}">{{title}}</a>
        <span>&nbsp;</span>
    </li>
{{/each}}
</ul>
