.outer {
    width: 200px;
    height: 200px;
    background-color: navy;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner {
    width: 50px;
    height: 50px;
    background-color: tomato;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}