<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Portfolio</title>
</head>

<body>
        <aside id="nav">
            {{>projlist}}
        </aside>
        <button type="button" id="burger-menu-btn">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </button>
        <header>
            <a class="logo" href="/"><span>Portfolio</span></a>
            <span class="sticky-border"></span>
        </header>
        <main class="page-border">
            {{{body}}}
        </main>
        <footer></footer>
        <script src="/js/script.js" charset="utf-8"></script>
</body>

</html>
