<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/styles.css">
</head>
{{!--
header: logo

welcome
loop through each project: image, title of project, links to the projects

footer: copyright
--}}

<header>
    logo goes here
</header>
<body>

    {{!--
    <!-- {{}} == encoded html -->
    <!-- {{{}}} == decoded html -->
    --}}

{{{body}}}

<footer>Copyright Kim Skovhus Andersen</footer>
</body>

</html>
